<div>
    <table>
        <tr>
            <th style="text-align:center; font-size:35px;color:red;">3 X 3 (Team Versus Online)</th>
        </tr>
        <tr>
            <td>
                Neste modo o jogador enfrenta outros jogadores online em uma partida de 3 contra 3 sem limite de tempo.<br />
                O jogador escolhe seuS persongeNS, as skills que utilizarão e por ultimo sua ultimates.
                A partir dai o jogador entra em uma fila para esperar que seu oponente seja escolhido.
                Ao encontrar o oponente ambos escolhem a ordem que utilizarão seus personagens com limite de tempo de 10 segundos.
                Perde quem tiver seus 3 personagens derrotados primeiro.
                Caso termine em empate, acontece mais um round porem ambos apenas com o personagem que lutou por ultimo.
                Quando a partida termina o jogador pode escolher entre:
                <ul>
                    <li>Buscar outra partida</li>
                    <li>Selecionar Outro personagem</li>
                    <li>Voltar pro menu</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>Mono competitivo e casual</li>
                    <li>O jogador aguarda o oponente numa sala de treinamento, e lá ele escolhe qual personagem usar</li>
                    <li>Ranking do jogador</li>
                    <li>Ranked: Win you go up, lose you go down.</li>
                    <li>WiFi indicator.</li>
                    <li>Heavy punishment for rage quitters.</li>
                    <li>Try to keep a win/lose ratio 50/50 for each character of the player</li>
                    <li>Quanto mais partidas seguidas ganhar, mais rapido você sobe no ranking e vice versa</li>
                    <li>Multiplicador de XP: Cada jogador possui um multiplicador de XP padrão de 1, a cada vitoria o mutilplicador aumenta em 20%, caso seja derrotado o multiplicador reseta pra 1</li>
                    <li>A perda de XP, funciona do mesmo jeito que o ganho</li>
                </ul>
            </td>
        </tr>
    </table>
</div>