<div>
    <table>
        <tr>
            <th style="text-align:center; font-size: 35px; color: red; font-weight:700" colspan="12">FighteR²PG HUD</th>
        </tr>
        <tr>
            <th style="text-align:center; font-size: 15px; color: white; font-weight:700" colspan="12">Jogadores</th>
        </tr>
        <tr>
            <td>
                <img src="~/images/HUDPlayers.png" style="vertical-align: bottom;" width="100%" /><br />
                <ol>
                    <li>Informações gerais do jogador</li>
                    <li>Informações gerais do aliado</li>
                    <li>Informações gerais do oponente</li>
                    <li>Informações gerais do oponente</li>
                </ol>
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <th style="text-align:center; font-size: 15px; color: white; font-weight:700" colspan="12">Barra de vida</th>
        </tr>
        <tr>
            <td>
                <img src="~/images/HUDHP.png" style="vertical-align: bottom;" width="100%" /><br />
                A barra verde representa a vida do jogador e se esvazia conforme o jogador vai sendo atingido pelo seu oponente, ao ficar vazia o jogador vai KnockOut, dependendo do modo de jogo o jogador perde ou o oponente ganha um ponto. A quantidade de HP média é de 1000.
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <th style="text-align:center; font-size: 15px; color: white; font-weight:700" colspan="12">Barra de MP</th>
        </tr>
        <tr>
            <td>
                <img src="~/images/HUDMP.png" style="vertical-align: bottom;" width="100%" /><br />
                A barra azul representa a mana do jogador e pode variar entre 400, 500 e 600 conforme marcado. A barra de mana é dividida em intervalos de 100, ela se enche automaticamente até certo ponto e pode ser preenchida batendo nos oponentes ou preenchida de forma mais lenta apanhando. Cada 100 de MP permitir utilizar uma das skills do jogador.
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <th style="text-align:center; font-size: 15px; color: white; font-weight:700" colspan="12">Barra de Ultimate</th>
        </tr>
        <tr>
            <td>
                <img src="~/images/HUDEspecial.png" style="vertical-align: bottom;" width="100%" /><br />
                A barra amarela representa o Ultimate do jogador e pode pode ser preenchida batendo no oponente ou preenchida de forma mais lenta apanhando do oponente. Quanto totalmente cheia permite o jogador utilizar sua ultimate ou o combo breaker.
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <th style="text-align:center; font-size: 15px; color: white; font-weight:700" colspan="12">Barra de Furia</th>
        </tr>
        <tr>
            <td>
                <img src="~/images/HUDFuria.png" style="vertical-align: bottom;" width="100%" /><br />
                A barra vermelha representa a Fúria do jogador e é preenchida conforme o jogador e golpeado pelo oponente ou preenchida de forma mais lenta golpeando o oponente. Ao ser totalmente preenchida permite o jogador entrar no modo de fúria.
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <th style="text-align:center; font-size: 15px; color: white; font-weight:700" colspan="12">Skills</th>
        </tr>
        <tr>
            <td>
                <img src="~/images/HUDSkills.png" style="vertical-align: bottom;" width="100%" /><br />
                Aqui estão localizadas as skills do jogador numeradas de 1 a 6, cada skill exibe o botão associado a sua ativação. Caso o jogador queira esse elemento pode ser ocultado.
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <th style="text-align:center; font-size: 15px; color: white; font-weight:700" colspan="12">Ultimate</th>
        </tr>
        <tr>
            <td>
                <img src="~/images/HUDUltimate.png" style="vertical-align: bottom;" width="100%" /><br />
                Aqui está localizada a ultimate escolhida pelo jogador e seu botão associado. Caso o jogador queira esse elemento pode ser ocultado.
            </td>
        </tr>
    </table>
</div>