<div>
    <h1 style="text-align:center">
        <strong>Acesso Negado</strong>
        <img src="https://cdn-icons-png.flaticon.com/512/620/620824.png" width="100" height="100"/>
    </h1>
    <img src="https://images4.alphacoders.com/676/676527.jpg" width="1500" height="875"/>
    <hr />
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary">Voltar</a>
</div> 