<div>
    <table>
        <tr>
            <th style="text-align:center; font-size: 35px; color: red; font-weight:700">Modo treinamento</th>
        </tr>
        <tr>
            <td>
                No modo treinamentos o jogador ou jogadores podem escolher seus personagens, skills e ultimates, então o jogador principal escolhe a tela em que ira realizar o treinamento.<br />
                No modo treinamento você pode colocar quantos oponentes desejar, boss da fase ou personagens jogaveis, você pode escolher os parametros do oponente como HP, MP,Knockdown, posicionamento etc.<br />
                Caso seja um boss podem tambem optar pode ligar ou desligar a IA do boss. Será possivel tambem configurar parametros do jogador como HP, MP, Especial, Rage, etc.
            </td>
        </tr>
    </table>
</div>