<div>
    <table>
        <tr>
            <th style="text-align:center; font-size:35px;color:red;">Coop Pvp Online</th>
        </tr>
        <tr>
            <td>
                Neste modo o jogador deve primeiro formar uma dupla, seja Online ou Local. Caso o jogador faça uma dupla online o nivel da dupla será a media de EXP de ambos jogadores, caso a dupla seja local o EXP da dupla sera o do jogador principal.<br />
                O ranking serve apenas para o proposito de matchmaking pois esse modo sera casual.<br />
                Após formar uma dupla os jogadores podem levar o tempo necessario para montar a dupla escolhendo seus personagens, suas skill e ultimates.<br />
                Quando ambos jogadores estiverem prontos, eles entram na fila de espera. Enquanto isso eles podem fazer um sparring entre si.<br />
                Neste modo o proposito é ser o primeiro time a ter 5 kills, caso ambos cheguem em 5 kills ao mesmo tempo entrará no modo morte subita onde a proxima kill leva a vitoria<br />
                Após a partida os jogadores podem escolher entre: <br />
                <ul>
                    <li>Revanche</li>
                    <li>Trocar de personagens</li>
                    <li>Voltar pro menu principal  </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
