<div>
    <table>
        <tr>
            <th style="text-align:center; font-size: 35px; color: red; font-weight:700">Chaos mode</th>
        </tr>
        <tr>
            <td>
               O chaos mode serve para o jogar de modo casual, dando o maximo possivel de opções ao jogador, o jogador podera escolher coisas como:
               <ul>
                   <li>Modo de jogo como time ou free for all</li>
                   <li>Numero de jogadores</li>
                   <li>Tempo de duração</li>
                   <li>Quantidade de pontos necessarios</li>
                   <li>Cenario de combate</li>
                   <li>Uso ou não de itens</li>
                   <li>Colocar o boss no cenario</li>
                   <li>etc.</li>
               </ul>
            </td>
        </tr>
    </table>
</div>