<div>
    <table style="width:100%">
        <tr>
            <th style="text-align:center; font-size: 35px; color: red; font-weight:700 ">Ideias gerais</th>
        </tr>
    </table>
    <br />
    <table style="width:100%">
        <tr>
            <td>
                <ul>
                    <li>Barra com quantidade de jogadores em cada modo Online</li>
                    <li>Criar um lobby para montar partidas casuais – mostrando a latência dos players</li>
                    <li>Ranking em cada personagem-(iniciante ,veterano,mestre)</li>
                    <li>Tutorial ensinando coisas em comum</li>
                    <li>Conquista por zerar com o set 1 2 e com o próprio set de skills</li>
                    <li>Quick play: Permite o jogador criar uma lista de modos de jogos possiveis, e coloca o jogador no modo que aparecer uma partida mais rapido entre as escolhidas</li>
                    <li>Algumas partes do cenario serão destrutiveis.</li>
                    <li>Guia onde mostra tudo do jogo: Personagens, histórias, combos, skills, mecânicas, modos de jogo, itens, telas, etc.</li>
                    <li>Músicas de RPG como breath of fire pros lobbys</li>
                    <li>5 frames de input lag</li>
                    <li>4 frames mínimos de antecipação a 12 no máximo</li>
                    <li>Startup + active = minimal recovery(frames)</li>
                    <li>GGPO</li>
                    <li><a href="https://github.com/rcmagic" target="_blank">Github Rollback References</a></li>
                    <li><a href="https://gist.github.com/rcmagic" target="_blank">Rollback References</a></li>
                    <li>Otimização de rotas</li>
                    <li>18 Dublagens +-</li>
                </ul>

                Listas de possiveis bosses: 
                <img src="~/images/Bosses.png" width="100%"/>


            </td>
        </tr>
    </table>
</div>