<div>
    <table>
        <tr>
            <th style="text-align:center; font-size: 35px; color: red; font-weight:700" colspan="12">Controles gerais</th>
        </tr>
        <tr>
            <td style="text-align:center; font-size: 15px; color: white; font-weight:700" colspan="12">Veja abaixo o sistema de controles</td>
        </tr>
        <tr>
            <td style="text-align:center; font-size: 15px; color: white;" colspan="12">Os controles abaixo são baseados em um controle do tipo generico</td>
        </tr>
        <tr>
            <th style="text-align:center"><img src="~/images/IconWalk.png" decoding="async" style="margin: auto;" width="60" heith="60" /></th>
            <td>Andar (Aperte duas vezes para correr)</td>
        </tr>
        <tr>
            <th style="text-align:center"><img src="~/images/IconDown.png" decoding="async" style="margin: auto;" width="60" heith="60" /></th>
            <td>Cair rapido (No ar)</td>
        </tr>
        <tr>
            <th style="text-align:center"><img src="~/images/IconA.png" decoding="async" style="margin: auto;" width="60" heith="60" /></th>
            <td>Saltar (Use no ar para fazer um salto aereo)</td>
        </tr>
        <tr>
            <th style="text-align:center"><img src="~/images/IconUpA.png" decoding="async" style="margin: auto;" width="160" heith="60" /></th>
            <td>Pular</td>
        </tr>
        <tr>
            <th style="text-align:center"><img src="~/images/IconDownA.png" decoding="async" style="margin: auto;" width="160" heith="60" /></th>
            <td>Descer plataformas</td>
        </tr>
        <tr>
            <th style="text-align:center"><img src="~/images/IconB.png" decoding="async" style="margin: auto;" width="60" heith="60" /></th>
            <td>Dash</td>
        </tr>
        <tr>
            <th style="text-align:center"><img src="~/images/IconUpDownB.png" decoding="async" style="margin: auto;" width="160" heith="60" /></th>
            <td>Dash diagonal</td>
        </tr>
        <tr>
            <th style="text-align:center"><img src="~/images/IconX.png" decoding="async" style="margin: auto;" width="60" heith="60" /></th>
            <td>Golpe 1</td>
        </tr>
        <tr>
            <th style="text-align:center"><img src="~/images/IconY.png" decoding="async" style="margin: auto;" width="60" heith="60" /></th>
            <td>Golpe 2</td>
        </tr>
        <tr>
            <th style="text-align:center"><img src="~/images/IconRB.png" decoding="async" style="margin: auto;" width="60" heith="60" /></th>
            <td>Especial</td>
        </tr>
        <tr>
            <th style="text-align:center"><img src="~/images/IconRT.png" decoding="async" style="margin: auto;"width="60" heith="60"  /></th>
            <td>Furia</td>
        </tr>
        <tr>
            <th style="text-align:center"><img src="~/images/IconLB.png" decoding="async" style="margin: auto;" width="60" heith="60" /></th>
            <td>Combo Break (Enquanto está sendo golpeado)</td>
        </tr>
        <tr>
            <th style="text-align:center"><img src="~/images/IconLTA.png" decoding="async" style="margin: auto;" width="160" heith="60" /></th>
            <td>Skill slot 1</td>
        </tr>
        <tr>
            <th style="text-align:center"><img src="~/images/IconLTB.png" decoding="async" style="margin: auto;" width="160" heith="60" /></th>
            <td>Skill slot 2</td>
        </tr>
        <tr>
            <th style="text-align:center"><img src="~/images/IconLTX.png" decoding="async" style="margin: auto;" width="160" heith="60" /></th>
            <td>Skill slot 3</td>
        </tr>
        <tr>
            <th style="text-align:center"><img src="~/images/IconLTY.png" decoding="async" style="margin: auto;" width="160" heith="60" /></th>
            <td>Skill slot 4</td>
        </tr>
        <tr>
            <th style="text-align:center"><img src="~/images/IconLTRB.png" decoding="async" style="margin: auto;" width="160" heith="60" /></th>
            <td>Skill slot 5</td>
        </tr>
        <tr>
            <th style="text-align:center"><img src="~/images/IconLTRT.png" decoding="async" style="margin: auto;" width="160" heith="60" /></th>
            <td>Skill slot 6</td>
        </tr>
    </table>
</div>