<div>
    <table>
        <tr>
            <th style="text-align:center; font-size: 35px; color: red; font-weight:700">Controles gerais</th>
        </tr>
        <tr>
            <td>Veja abaixo o sistema de controles</td>
        </tr>
    </table>
</div>