@model FighteR_PG.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login ";
}

<div class="row">
    <div class="col-md-4">
               
    </div>
    <div class="col-md-4">
        <img src="https://cdn-icons-png.flaticon.com/512/2603/2603009.png" width="300" height="300" />
                <h1 style="text-align:center">Login</h1>
                <hr />
                <form asp-controller="Login" asp-action="Login" method="post" class="col-md-12" style="text-align:center">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Page" />
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                        <br/>
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-primary" />
                        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Voltar</a>
                    </div>
                </form>
    </div>
    <div class="col-md-4">
               
    </div>
</div>
