<div>
    <table>
        <tr>
            <th style="text-align:center; font-size:35px;color:red;">1 X 1 (Online)</th>
        </tr>
        <tr>
            <td>
                Neste modo o jogador enfrenta outros jogadores online em uma partida de 1 contra 1 sem limite de tempo.<br />
                O jogador escolhe seu persongem, as skills que utilizará e por ultimo sua ultimate.
                A partir dai o jogador entra em uma fila para esperar que seu oponente seja escolhido, a luta termina quando o HP de um dos 2 jogadores vai a zero.
                Caso ambos morram ao mesmo tempo acontece mais um round porem ambos estarão apenas com 50% de seu HP.
                Quando a partida termina o jogador pode escolher entre:
                <ul>
                    <li>Buscar outra partida</li>
                    <li>Selecionar Outro personagem</li>
                    <li>Voltar pro menu</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>Mono competitivo e casual</li>
                    <li>O jogador aguarda o oponente numa sala de treinamento</li>
                    <li>Ranking individual para cada personagem</li>
                    <li>Ranked: Win you go up, lose you go down.</li>
                    <li>WiFi indicator.</li>
                    <li>Heavy punishment for rage quitters.</li>
                    <li>Try to keep a win/lose ratio 50/50 for each character of the player</li>
                    <li>Quanto mais partidas seguidas ganhar, mais rapido você sobe no ranking e vice versa</li>
                    <li>Multiplicador de XP: Cada jogador possui um multiplicador de XP padrão de 1, a cada vitoria o mutilplicador aumenta em 20%, caso seja derrotado o multiplicador reseta pra 1</li>
                    <li>A perda de XP, funciona do mesmo jeito que o ganho</li>
                </ul>
            </td>
        </tr>
    </table>
</div>