@{
    ViewData["Title"] = "FighteR²PG Wiki";
}
<main id="content">
    <header>
        <div class="page-heading">
            <div class="firstHeading-container">
                <h1 id="firstHeading" class="firstHeading" lang="en" style="color:red">FighteR²PG</h1>
            </div>
        </div>
    </header>
    <div id="bodyContent">
        <div id="contentSub"></div>
        <div lang="en" dir="ltr">
            <div style="display: flex; flex-direction:row-reverse; flex-wrap: wrap">
                <div class="GameCard" style="display: flex; flex-direction: column; flex: 3; min-width:300px" ;>
                    <table style="float:right; margin:5px; display:table;">
                        <tbody>
                            <tr>
                                <th style="text-align:center; font-size: 25px; color: red; font-weight:700" colspan="2">
                                    FighteR²PG
                                </th>
                            </tr>
                            <tr>
                                <td colspan="2" ; style="text-align: center;">
                                    <div class="center">
                                        <div class="floatnone">
                                            <img alt="FighteRPG-Capa.jpg" src="~/images/Capa.jpg" decoding="async" width="300" height="447" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="1">Version</th>
                                <td>
                                    (Season 0)
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="1">Developers</th>
                                <td>
                                    Renato A. Santos
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="1">Publishers</th>
                                <td>
                                    Not Anounced
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="1">Systems</th>
                                <td>
                                    PC, Xbox, PlayStation
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="1">Official Websites</th>
                                <td>
                                    To be anounced
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="2">Online Play</th>
                                <td>
                                    Crossplay
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Rollback
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="1">Player Resources</th>
                                <td>
                                    To be anounced
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="1">Community Channels</th>
                                <td>
                                    <p>
                                        <a rel="nofollow" class="external text" href="https://reddit.com/r/FighteRPG" target="_blank">r/FighteRPG Subreddit</a>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="display: flex; flex-direction: column; flex: 7; min-width:300px" ;>
                    <div class="align-content-center">
                        <div style="display: flex" ;>
                            <img alt="FighteRPG-Logotype.png" src="~/images/LogotypeCurto.png" decoding="async" width="800" height="243" style="margin: auto;" />
                        </div>
                    </div>
                    <div class="GameContent">
                        <table style="clear: both; width: 100%; margin: auto; border: 1px solid #353535; margin-top:0.5em;">
                            <tbody>
                                <tr>
                                    <td style="text-align:center; font-size: 25px; color: red; font-weight:700">
                                        What is FighteR²PG?
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        FighteR²PG é um jogo de luta com elementos de plataforma 2D/3D estrelando personagens de RPG classico, como o Cavaleiro,Paladino, Bruxa, Arqueiro e mais
                                        <br />
                                        Jogue o modo historia sozinho ou em coop e enfrente até 30 Chefes diferentes entre eles alguns já conhecidos como: goblins, dragão, orcs, lich.
                                        <br />
                                        Jogue com um amigo no modo PVP local 1VS1 ou no modo cooperativo online 2VS2 e enfrentem oponentes juntos.
                                        Jogue tambem o single player online no já conhecido 1 VS 1, ou no modo team versus (3 VS 3) com rollback e crossplay incluso em todos modos online.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="GameFeatures">
                        <table style="clear: both; width: 100%; margin: auto; border: 1px solid #353535; margin-top:0.5em;">
                            <tbody>
                                <tr>
                                    <td style="text-align:center; font-size: 25px; color: red; font-weight:700">
                                        FighteR²PG Game Features
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul>
                                            <li>
                                                <strong>Single Player</strong>
                                            </li>
                                            <li>
                                                <a asp-controller="HistoryMode" asp-action="Index">History Mode(Normal/Hard/Lendario)</a>
                                            </li>
                                            <li>
                                                <a asp-controller="TimeAtack" asp-action="Index">Time Atack</a>
                                            </li>
                                            <li>
                                                <a asp-controller="PVPOnline" asp-action="Index">1 X 1 (Online)</a>
                                            </li>
                                            <li>
                                                <a asp-controller="TeamVersusOnline" asp-action="Index">3 X 3 (Team Versus)</a>
                                            </li>
                                            <li>
                                                <strong>Multiplayer</strong>
                                            </li>
                                            <li>
                                                <a asp-controller="HistoryMode" asp-action="Index">History Mode(Normal/Hard/Lendario)</a>
                                            </li>
                                            <li>
                                                <a asp-controller="PVPLocal" asp-action="Index">1 X 1 (Local)</a>
                                            </li>
                                            <li>
                                                <a asp-controller="TeamVersusLocal" asp-action="Index">3 x 3 (TeamVersus Local)</a>
                                            </li>
                                            <li>
                                                <a asp-controller="PVPCoop" asp-action="Index">2 X 2 (2 Player VS 2 Player - Online)</a>
                                            </li>
                                            <li>
                                                <a asp-controller="FreeForAll" asp-action="Index">Couch Play (A.K.A. Free for all)</a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="General">
                        <table style="clear: both; width: 100%; margin: auto; border: 1px solid #353535; margin-top:0.5em;">
                            <tbody>
                                <tr>
                                    <td style="text-align:center; font-size: 15px; color: red; font-weight:700">
                                        FighteR²PG
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:left; font-size: 15px; font-weight:700">
                                        Geral
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="text-align:center; float:left; margin-top: 5px; margin-right: 5px;"><div><a asp-controller="GameControls" asp-action="Index" title="Controls"><img alt="Controls" src="~/images/Icon_controls.png" width="80" height="80"></a></div><div style="line-height:1; text-align:center; font-size:1.0em; width:70px; height:2.2em; margin:auto"><a asp-controller="GameControls" asp-action="Index" title="Controls" title="FighteRPG/Controls">Controles</a></div></span>
                                        <span style="text-align:center; float:left; margin-top: 5px; margin-right: 5px;"><div><a asp-controller="HUD" asp-action="Index" title="HUD"><img alt="HUD" src="~/images/Icon_hud.png" width="80" height="80"></a></div><div style="line-height:1; text-align:center; font-size:1.0em; width:70px; height:2.2em; margin:auto"><a asp-controller="HUD" asp-action="Index" title="Controls" title="FighteRPG/HUD">HUD</a></div></span>
                                        <span style="text-align:center; float:left; margin-top: 5px; margin-right: 5px;"><div><a asp-controller="Mechanics" asp-action="Index" title="Mechanics"><img alt="Mechanics" src="~/images/Icon_system.png" width="80" height="80"></a></div><div style="line-height:1; text-align:center; font-size:1.0em; width:70px; height:2.2em; margin:auto"><a asp-controller="GameControls" asp-action="Index" title="Controls" title="FighteRPG/Mechanics">Mêcanicas</a></div></span>
                                        <span style="text-align:center; float:left; margin-top: 5px; margin-right: 5px;"><div><a asp-controller="GeneralIdeias" asp-action="Index" title="GeneralIdeias"><img alt="GeneralIdeias" src="~/images/Icon_faq.png" width="80" height="80"></a></div><div style="line-height:1; text-align:center; font-size:1.0em; width:70px; height:2.2em; margin:auto"><a asp-controller="GeneralIdeias" asp-action="Index" title="Controls" title="FighteRPG/GeneralIdeias">Ideias gerais</a></div></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="Characters">
                        <table style="clear: both; width: 100%; margin: auto; border: 1px solid #353535; margin-top:0.5em;">
                            <tbody>
                                <tr>
                                    <td style="text-align:left; font-size: 15px; font-weight:700">
                                        Characters
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 0.2em 0.5em; background-color: #353535;">
                                        @for (int i = 0; i < 30; i++)
                                        {
                                            <span style="text-align:center; float:left; margin-top: 5px; margin-right: 5px;"><div><a href="https://wiki.supercombo.gg/w/Street_Fighter_V/Akira" title="Akira"><img alt="Akira" src="~/images/ThumbTeste.jpg" width="80" height="80"></a></div><div style="line-height:1; text-align:center; font-size:1.0em; width:70px; height:2.2em; margin:auto"><a href="https://wiki.supercombo.gg/w/Street_Fighter_V/Akira" title="Street Fighter V/Akira"> Akira</a></div></span>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="Bosses">
                        <table style="clear: both; width: 100%; margin: auto; border: 1px solid #353535; margin-top:0.5em;">
                            <tbody>
                                <tr>
                                    <td style="text-align:left; font-size: 15px; font-weight:700">
                                        Bosses
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 0.2em 0.5em; background-color: #353535;">
                                        @for (int i = 0; i < 30; i++)
                                        {
                                            <span style="text-align:center; float:left; margin-top: 5px; margin-right: 5px;"><div><a href="https://wiki.supercombo.gg/w/Street_Fighter_V/Akira" title="Akira"><img alt="Akira" src="~/images/ThumbTeste.jpg" width="80" height="80"></a></div><div style="line-height:1; text-align:center; font-size:1.0em; width:70px; height:2.2em; margin:auto"><a href="https://wiki.supercombo.gg/w/Street_Fighter_V/Akira" title="Street Fighter V/Akira"> Akira</a></div></span>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>