@{
    ViewData["Title"] = "FighteR²PG Wiki";
}
<main id="content">
    <header>
        <div class="page-heading">
            <div class="firstHeading-container">
                <h1 id="firstHeading" class="firstHeading" lang="en" style="color:red">FighteR²PG</h1>
            </div>
        </div>
    </header>
    <div id="bodyContent">
        <div id="contentSub"></div>
        <div lang="en" dir="ltr">
            <div style="display: flex; flex-direction:row-reverse; flex-wrap: wrap">
                <div class="GameCard" style="display: flex; flex-direction: column; flex: 3; min-width:300px" ;>
                    <table style="float:right; margin:5px; display:table;">
                        <tbody>
                            <tr>
                                <th style="text-align:center; font-size: 25px; color: red; font-weight:700" colspan="2">
                                    FighteR²PG
                                </th>
                            </tr>
                            <tr>
                                <td colspan="2" ; style="text-align: center;">
                                    <div class="center">
                                        <div class="floatnone">
                                            <img alt="FighteRPG-Capa.jpg" src="~/images/Capa.jpg" decoding="async" width="300" height="447" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="1">Version</th>
                                <td>
                                    (Season 0)
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="1">Developers</th>
                                <td>
                                    Renato A. Santos
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="1">Publishers</th>
                                <td>
                                    Not Anounced
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="1">Systems</th>
                                <td>
                                    PC, Xbox, PlayStation
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="1">Official Websites</th>
                                <td>
                                    To be anounced
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="2">Online Play</th>
                                <td>
                                    Crossplay
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Rollback
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="1">Player Resources</th>
                                <td>
                                    To be anounced
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="1">Community Channels</th>
                                <td>
                                    <p>
                                        <a rel="nofollow" class="external text" href="https://reddit.com/r/FighteRPG" target="_blank">r/FighteRPG Subreddit</a>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="display: flex; flex-direction: column; flex: 7; min-width:300px" ;>
                    <div class="align-content-center">
                        <div style="display: flex" ;>
                            <img alt="FighteRPG-Logotype.png" src="~/images/Logotype.png" decoding="async" width="300" height="243" style="margin: auto;" />
                        </div>
                    </div>
                    <div class="GameContent">
                        <table style="clear: both; width: 100%; margin: auto; border: 1px solid #353535; margin-top:0.5em;">
                            <tbody>
                                <tr>
                                    <td style="text-align:center; font-size: 25px; color: red; font-weight:700">
                                        What is FighteR²PG?
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        Lectus magna fringilla urna porttitor. Urna nunc id cursus metus aliquam. Faucibus turpis in eu mi. 
                                        Cursus eget nunc scelerisque viverra mauris. Vestibulum morbi blandit cursus risus at ultrices mi tempus imperdiet. 
                                        Congue nisi vitae suscipit tellus mauris a diam maecenas sed. Sed adipiscing diam donec adipiscing tristique risus.
                                        A iaculis at erat pellentesque adipiscing commodo elit at imperdiet. Odio aenean sed adipiscing diam donec adipiscing tristique.
                                        <br />
                                        Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. 
                                        Augue lacus viverra vitae congue eu consequat ac felis. Nam aliquam sem et tortor consequat id porta nibh. 
                                        Quisque sagittis purus sit amet volutpat consequat mauris. Sit amet aliquam id diam maecenas ultricies mi eget mauris. 
                                        In nulla posuere sollicitudin aliquam ultrices. Placerat vestibulum lectus mauris ultrices eros. Enim diam vulputate ut pharetra. 
                                        Nulla facilisi morbi tempus iaculis urna id volutpat lacus laoreet. 
                                        Volutpat blandit aliquam etiam erat. Aliquet bibendum enim facilisis gravida neque.
                                        Elementum facilisis leo vel fringilla est ullamcorper eget. Sit amet venenatis urna cursus eget nunc scelerisque viverra. 
                                        Eros in cursus turpis massa tincidunt. Lorem ipsum dolor sit amet consectetur adipiscing elit.
                                    </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                    <div class="GameFeatures">
                        <table style="clear: both; width: 100%; margin: auto; border: 1px solid #353535; margin-top:0.5em;">
                            <tbody>
                                 <tr>
                                    <td style="text-align:center; font-size: 25px; color: red; font-weight:700">
                                        FighteR²PG Game Features
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul>
                                            <li>
                                                History Mode
                                            </li>
                                            <li>
                                                PVP Mode
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                     <div class="General">
                        <table style="clear: both; width: 100%; margin: auto; border: 1px solid #353535; margin-top:0.5em;">
                            <tbody>
                                 <tr>
                                    <td style="text-align:center; font-size: 15px; color: red; font-weight:700">
                                        FighteR²PG
                                    </td>
                                </tr>
                                 <tr>
                                    <td style="text-align:left; font-size: 15px; font-weight:700">
                                        Geral
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul>
                                            <li>
                                                PlaceHolder
                                            </li>
                                            <li>
                                               PlaceHolder
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                     <div class="Characters">
                        <table style="clear: both; width: 100%; margin: auto; border: 1px solid #353535; margin-top:0.5em;">
                            <tbody>
                                 <tr>
                                    <td style="text-align:left; font-size: 15px; font-weight:700">
                                        Characters
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul>
                                            <li>
                                                PlaceHolder
                                            </li>
                                            <li>
                                               PlaceHolder
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                     <div class="Bosses">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>