<div class="container">
    <div class="row">
        <div class="col-3">
            <img src="~/images/Admin.png" width="256" heith="256" />
        </div>
        <div class="col-9">
            <div class="jumbotron">
                <h1 class="display-4">Area do ademir, YEAH!!!</h1>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<hr style="width:100%;text-align:left;margin-left:0">
<div class="container">
    <div class="row">
        <div class="col-2">
            <a style="font-size: 90px; asp-area="Admin" asp-controller="Archetypes" asp-action="Index">
                <img src="~/images/Icon_Archetypes.png" width="128" heith="128" />
            </a>
        </div>
        <div class="col-10">
            <a style="font-size: 90px; asp-area="Admin" asp-controller="Archetypes" asp-action="Index">Arquetipos</a>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <a style="font-size: 90px; asp-area="Admin" asp-controller="Bosses" asp-action="Index">
                <img src="~/images/BossIcon.png" width="128" heith="128" />
            </a>
        </div>
        <div class="col-10">
            <a style="font-size: 90px; asp-area="Admin" asp-controller="Bosses" asp-action="Index">Chefes</a>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <a style="font-size: 90px; asp-area="Admin" asp-controller="Characters" asp-action="Index">
                <img src="~/images/Characters.png" width="128" heith="128" />
            </a>
        </div>
        <div class="col-10">
            <a style="font-size: 90px; asp-area="Admin" asp-controller="Characters" asp-action="Index">Personagens</a>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <a style="font-size: 90px; asp-area="Admin" asp-controller="Sexes" asp-action="Index">
            <img src="~/images/Sexes.png" width="128" heith="128" />
            </a>
        </div>
        <div class="col-10">
            <a style="font-size: 90px; asp-area="Admin" asp-controller="Sexes" asp-action="Index">Sexos</a>
        </div>
    </div>
</div>