<div>
    <table>
        <tr>
            <th style="text-align:center; font-size: 35px; color: red; font-weight:700" colspan="12">Arquetipos</th>
        </tr>
        <tr>
            <td style="text-align:center; font-size: 15px; color: white; font-weight:700" colspan="12">Existem 3 arquetipos no jogo:Fisico, Magico e Arcano, e cada personagem do jogo pertence a um determinado arquetipo. Os arquetipos determinam certas caracteristicas do personagem, como por exemplo suas quantidades de HP, MP e seu estilo de jogabilidade.</td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <th style="text-align:center; font-size: 15px; color: white; font-weight:700" colspan="12"><img src="~/images/ArcMelee.png" width="50" height="50" /> Fisico </th>
        </tr>
        <tr>
            <td>
                Personagens deste arquetipo são especializados em combate corpo, geralmente possuem skills ótimas para se posicionar de forma vantajosa e se aproximar de seus oponentes, porem em geral não possuem ataques a distancia e quando possuem em geral costuman não ser tão fortes.<br />
                Este tipo de personagem possui 1200 pontos de HP, 400 pontos de MP e 100 de regeneração natural de MP. O tornando mais resistentes que os outros tipos. 
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <th style="text-align:center; font-size: 15px; color: white; font-weight:700" colspan="12"><img src="~/images/ArcMagic.png" width="50" height="50" />Magico</th>
        </tr>
        <tr>
            <td>
                Personagens deste arquetipo são especializados em utilizar magia para combate, geralmente possuem skills excelentes de longa distancia capaz de imobilizar seus oponentes para que possam se aproximar com segurança, porem costumam não possuir skills que permitam se movimentar e se aproximar de seu oponentes e quando possuem não são tão fortes.<br />
                Este tipo de personagem possui 800 pontos de HP, 600 pontos de MP e 200 de regeneração natural de MP. Sua grande quantidade de MP o ajuda a causar um grande dano em seus oponentes
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <th style="text-align:center; font-size: 15px; color: white; font-weight:700" colspan="12"><img src="~/images/ArcArcane.png" width="50" height="50" />Arcano</th>
        </tr>
        <tr>
            <td>
                Personagens deste tipo são versados tanto em combate corpo a corpo quanto em combate utilizando magia, possuem boas skills para se aproximar do oponente e ataques a distancia, porem não são excelentes em nenhum dos 2 casos o tornando um meio termo entre os arquetipos citados anteriormente.<br />
                Este tipo de personagem possui 1000 pontos de HP, 500 pontos de MP e 150 de regeneração natural de MP. Possui uma quantidade moderada de HP e MP, que o fazem ter dano e resitencia media.
            </td>
        </tr>
    </table>
</div>