<div>
    <table>
        <tr>
            <th style="text-align:center; font-size: 35px; color: red; font-weight:700">Modo Coliseu</th>
        </tr>
        <tr>
            <td>
                O modo coliseu serve para que o jogador treine contra bosses especificos, ou simplesmente enfrente um boss que ele deseja.<br />
                O jogador ou jogadores escolhem seus personagens e habilidades como de costume e então escolhem um boss especifico para enfrentar. 
                Após derrotar o boss volta para a tela inicial do modo coliseu.
            </td>
        </tr>
    </table>
</div>