<div>
    <table style="width:100%">
        <tr>
            <th style="text-align:center; font-size: 35px; color: red; font-weight:700 " ; width="">Mecanicas</th>
        </tr>
        <tr>
            <td style="text-align:center; font-size: 15px; color: white; font-weight:700" colspan="12">
                Subtitulo
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <th style="text-align:center; font-size: 15px; color: white; font-weight:700" colspan="12">
                Ultimate/Combo breaker
                <img src="~/images/Ultimate.png" width="333" height="43" >
            </th>
        </tr>
        <tr>
            <td>
                A barra de ultimate vai enchendo conforme você vai golpeando seu oponente com golpes normais, a quantidade que enche depende do golpe. Quando a barra está cheia o jogador pode optar pode usar essa barra de modo ofensivo ativando sua ultimate ou de modo defensivo ativando o combo breaker enquanto está sendo golpeado fazendo o oponente ser nocauteado.
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <th style="text-align:center; font-size: 15px; color: white; font-weight:700" colspan="12"><img src="~/images/ArcMagic.png" width="50" height="50" />Magico</th>
        </tr>
        <tr>
            <td>
                Personagens deste arquetipo são especializados em utilizar magia para combate, geralmente possuem skills excelentes de longa distancia capaz de imobilizar seus oponentes para que possam se aproximar com segurança, porem costumam não possuir skills que permitam se movimentar e se aproximar de seu oponentes e quando possuem não são tão fortes.<br />
                Este tipo de personagem possui 800 pontos de HP, 600 pontos de MP e 200 de regeneração natural de MP. Sua grande quantidade de MP o ajuda a causar um grande dano em seus oponentes
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <th style="text-align:center; font-size: 15px; color: white; font-weight:700" colspan="12"><img src="~/images/ArcArcane.png" width="50" height="50" />Arcano</th>
        </tr>
        <tr>
            <td>
                Personagens deste tipo são versados tanto em combate corpo a corpo quanto em combate utilizando magia, possuem boas skills para se aproximar do oponente e ataques a distancia, porem não são excelentes em nenhum dos 2 casos o tornando um meio termo entre os arquetipos citados anteriormente.<br />
                Este tipo de personagem possui 1000 pontos de HP, 500 pontos de MP e 150 de regeneração natural de MP. Possui uma quantidade moderada de HP e MP, que o fazem ter dano e resitencia media.
            </td>
        </tr>
    </table>
</div>