<div>
    <table>
        <tr>
            <th style="text-align:center; font-size:35px;color:red;">Time Atack</th>
        </tr>
        <tr>
            <td>
                O modo time atack é liberado após o jogador terminar o modo Hard uma vez.<br/>
                O objetivo do moto time atack é derrotar todos os bosses do jogo de forma mais rapida possivel. Os boss são escolhidos de forma aleatoria menos o ultimo boss que continuara sendo o ultimo. A cada boss derrotado o jogador recupera 10% do HP<br />
            </td>
        </tr>
    </table>
</div>