@model FighteR_PG.Models.Sex

@{
    ViewData["Title"] = "Detalhes ";
}

<h1>Detalhes</h1>

<div>
    <h4>Sexo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SexCharacter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SexCharacter)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SexId" class="btn btn-warning">Editar</a> 
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
