@model FighteR_PG.Models.Sex

@{
    ViewData["Title"] = "Editar ";
}

<h1>Editar</h1>

<h4>Sexo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SexId" />
            <div class="form-group">
                <label asp-for="SexCharacter" class="control-label"></label>
                <input asp-for="SexCharacter" class="form-control" />
                <span asp-validation-for="SexCharacter" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
