<div>
    <table>
        <tr>
            <th style="text-align:center; font-size:35px;color:red;">Casual Online</th>
        </tr>
        <tr>
            <td>
                Neste modos os jogadores vão para um lobby.<br />
                Neste lobby os jogadores podem criar salas configurando o modo de jogo como desejar. Assim que um oponente entrar na sala o jogador é notificado e pode começar a partida ou não.
            </td>
        </tr>
    </table>
</div>
