<div>
    <table>
        <tr>
            <th style="text-align:center">Modo Historia</th>
        </tr>
        <tr>
            <td>
                No modo historia o jogador ou jogadores enfrentam um de 3 bosses iniciais aleatoriamente,que irão servir pra introduzir algumas mecanicas do jogo.<br />
                O Segundo boss é escolhido aleatoriamente entre 3 possiveis, o segundo boss introduz ainda mais mecanicas para o jogador aprender.<br />
                O terceiro segue o conceito dos 2 anteriores sendo escolhido aleatoriamente entre 3 possiveis, o segundo boss introduz ainda mais mecanicas para o jogador aprender.<br />
                Do 4º ao 6º boss o jogador escolhe entre um grupo de 3 boss, totalizando 9 boss que formam um grupo onde o objetivo é testar as habilidades aprendidas do jogador.<br />
                O mesmo conceito anterior se aplica do 7º ao 9º porem aqui os boss possuem movimentos mais complexos, incluindo coisas como segunda fase, shields, auras e etc<br />
                O ultimo boss reune todos os conceitos de uma vez e deve ser o mais complexo entre todos com a finalidade de ser o teste final de habilidade.
            </td>
        </tr>
        <tr>
            <td>
                Conceitos:<br/>
                
                <strong>Modos</strong>
                <ul>
                    <li>Normal: 9 bosses, caminho diferentes entre 27 boss curando o HP a cada boss</li>
                    <li>Hard: 9 boss – Heal apenas a cada 3 boss </li>
                    <li>Lendario: 27 boss seguidos sem Heal</li>
                </ul>
                <ol>
                    <li>Boss - Normal</li>
                    <li>Boss - Dano levemente elevado</li>
                    <li>Boss - Dano e velocidade levementes elevado</li>
                </ol>
                O mesmo padrão se repete até o 9º Boss.<br />
                Cada ataque possui super armadura do começo ao fim, assim o boss ficará vuneravel entre um ataque e outro gerando uma dinamica onde haverá um turno de ataque do jogador e um do boss.<br/>
                Para evitar combos infinitos o boss possuira um ataque com invencibilidade, antecipação lenta e com dano alto, com finalidade de evitar loops e verificar a agilidade do jogador em cancelar combos.<br/>
                Ao finalizar o jogo será exibido o final de cada personagem. E cada personagem ira liberar: o segundo moveset de outro personagem e um personagem extra ou um estagio de PVP<br/>
                
            </td>
        </tr>
    </table>
</div>