<div>
    <table>
        <tr>
            <th style="text-align:center; font-size: 35px; color: red; font-weight:700">Modo Historia</th>
        </tr>
        <tr>
            <td>
                No modo historia o jogador ou jogadores enfrentam um de 3 bosses iniciais aleatoriamente,que irão servir pra introduzir algumas mecanicas do jogo.<br />
                O Segundo boss é escolhido aleatoriamente entre 3 possiveis, o segundo boss introduz ainda mais mecanicas para o jogador aprender.<br />
                O terceiro segue o conceito dos 2 anteriores sendo escolhido aleatoriamente entre 3 possiveis, o segundo boss introduz ainda mais mecanicas para o jogador aprender.<br />
                Do 4º ao 6º boss o jogador escolhe entre um grupo de 3 boss, totalizando 9 boss que formam um grupo onde o objetivo é testar as habilidades aprendidas do jogador.<br />
                O mesmo conceito anterior se aplica do 7º ao 9º porem aqui os boss possuem movimentos mais complexos, incluindo coisas como segunda fase, shields, auras e etc<br />
                O ultimo boss reune todos os conceitos de uma vez e deve ser o mais complexo entre todos com a finalidade de ser o teste final de habilidade.
            </td>
        </tr>
        <tr>
            <th>
                Background
            </th>
        </tr>
        <tr>
            <td>
                Em um mundo de magia, tecnologia, seres magicos, criaturas misticas e coisas fantasticas, há uma montanha gigantesca seu pico é tão alto que chega as nuvens e por isso a chaman de Gate's Heaven a montanha mais alta do mundo, na base dessa montanha há uma uma entrada para uma caverna, pessoas em todo canto do mundo, mesmo pessoas que nunca ouviram falar sonham com essa caverna e nesse sonho uma voz os chaman, e essa voz diz "me procurem, eu sei o que sua alma anseia, eu tenho resposta, venha até mim e eu estarei te esperando",por isso existem varias lendas e rumores sobre esse lugar,alguns dizem que nessa caverna há um dragão que guarda um tesouro imensuravel, outros dizem que essa caverna guarda todo o conhecimento e sabedoria do universo e aqueles que há vislumbram enlouquecem, já outros dizem que do mesmo jeito que a montanha é ligada ao céu sua caverna leva direo para o inferno, mas a verdade é que ninguem sabe o que essa caverna guarda já que aqueles que se atrevem a responder seu chamado e adentrar seus dominios nunca mais são vistos.
            </td>
        </tr>
        <tr>
            <td>
                Conceitos:<br />
                <strong>Modos</strong>
                <ul>
                    <li>Normal: 9 bosses, caminho diferentes entre 27 boss curando o HP a cada boss</li>
                    <li>Hard: 9 boss – Heal apenas a cada 3 boss (Liberado após zerar o modo normal)</li>
                    <li>Lendario: 27 boss seguidos sem Heal (Liberado após zerar o modo Time Atack)</li>
                    <li>Caso o jogo esteja em modo Coop o HP do boss é multiplicado por 3</li>
                </ul>
                <ol>
                    <li>Boss - Normal</li>
                    <li>Boss - HP levemente maior</li>
                    <li>Boss - HP e velocidade levemente maiores</li>
                </ol>
                O mesmo padrão se repete até o 9º Boss.<br />
                Os 3 primeiros bosses do modo normal possum dificuldade dinamica, se o jogador for capaz de tirar 40% de HP do boss e aindo tiver 80% do HP o boss passara a ter um moveset maior<br />
                Cada ataque possui super armadura do começo ao fim, assim o boss ficará vuneravel entre um ataque e outro gerando uma dinamica onde haverá um turno de ataque do jogador e um do boss.<br />
                Combo Breaker: Para evitar combos infinitos o boss possuira um ou alguns ataques com invencibilidade, antecipação lenta e com dano alto, que sera ativado quando ele perder certa quantidade de HP com finalidade de evitar loops e verificar a agilidade do jogador em cancelar combos e esquivar.<br />
                Obrigatoriedade para cada Boss: Todo ataque deve ser legível e evitável <br />
                Quanto mais facil for esquivar de um ataque, mais dano ele causa<br />
                Coisas que podem mudar a dificuldade:<br />
                Tempo de resposta de cada ataque<br />
                Variedade de ataques e movimentos<br />
                Complexidade do ataque<br />
                Ao finalizar do jogo será exibido o final de cada personagem. E cada personagem ira liberar: o segundo moveset de outro personagem e um personagem extra ou um estagio de PVP<br />
                Ao total serão 30 movesets, 15 personagens e 15 estagios de PVP bloqueados <br />
                Ao final de cada boss o jogador ganha uma pontuação baseada em recursos sobrando, como HP, MP, Especial e no tempo que levou para vencer
            </td>
        </tr>
        <tr>
            <td>
                Arquetipos de bosses
                <ol>
                    <li>Healer - Boss que se cura</li>
                    <li>Shielder - Invoca um totem que fornece um shield que repele o oponente</li>
                    <li>Summoner - Invoca bichos para ajudar</li>
                    <li>Armor - Coloca uma armadura que diminui o dano e deve ser quebrada</li>
                    <li>Blindado - Armadura que deve ser quebrada com um elemento da tela</li>
                    <li>Teleporter - Se locomove com teleportes</li>
                    <li>Voador - Se locomove apenas voando</li>
                    <li>Restritor - Usar golpes para restringir os oponentes</li>
                    <li>Duas fases - Boss que tem 2 HPs</li>
                    <li>Dupla ou trio - Boss composto de 1 ou mais oponentes</li>
                    <li>Debufer - Causa uma desvatagem no jogador</li>
                    <li>Buffer - Um buff que aumenta o dano e deve ser parado pelo jogador</li>
                    <li>Invencivel - O jogador deve usar um local da fase pra ganhar um buff e poder causar dano</li>
                    <li>Imortal -  O jogador deve atacar objetos na tela para causar dano no boss</li>
                    <li>Ilusionista - Gera copias cabendo ao jogador achar o original ou destruir todas copias falsas</li>
                    <li>Seeker - Dispara um projetil que pode ser destruido pelo jogador</li>
                    <li>Mage - Ataca exclusivamente com projeteis e fica fugindo</li>
                    <li>Aura - Fica coberto por uma aura que causa dano constante ao jogador</li>
                    <li>Vampiro - Regenera HP causando dano no oponente</li>
                </ol>
            </td>
        </tr>
    </table>
</div>