<div>
    <table>
        <tr>
            <th style="text-align:center; font-size:35px;color:red;">Team Versus Local</th>
        </tr>
        <tr>
            <td>
                Este modo é destinado ao bom é velho PVP local, aqui os jogadores escolhem seus personagem, suas skills e suas ultimates dentro de um limite de tempo.<br />
                Por ultimo os jogadores escolhem a ordem que os personagens irão lutar<br />
                As regras são a mesma do Team Versus Online<br />
                Após terminada a partida os jogadores podem escolher entre:
                <ul>
                    <li>Jogar novamente</li>
                    <li>Troca de time</li>
                    <li>Voltar para o menu principal</li>
                </ul>
            </td>
        </tr>
    </table>
</div>
