<div>
    <table>
        <tr>
            <th style="text-align:center; font-size:35px;color:red;">PVP Local</th>
        </tr>
        <tr>
            <td>
                Este modo é destinado ao bom é velho PVP local, aqui os jogadores escolhem seu personagem, suas skills e suas ultimates dentro de um limite de tempo.<br />
                Aqui o jogador principal pode escolher entre FT1 ou FT2.<br />
                O quesito de empate e desempate é o mesmo do PVP Online<br />
                Após terminada a partida os jogadores podem escolher entre:
                <ul>
                    <li>Jogar novamente</li>
                    <li>Troca de personagem</li>
                    <li>Voltar para o menu principal</li>
                </ul>
            </td>
        </tr>
    </table>
</div>
