@model FighteR_PG.Models.Boss

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Boss</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Region" class="control-label"></label>
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionImage" class="control-label"></label>
                <input asp-for="RegionImage" class="form-control" />
                <span asp-validation-for="RegionImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GerneralText" class="control-label"></label>
                <input asp-for="GerneralText" class="form-control" />
                <span asp-validation-for="GerneralText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SexId" class="control-label"></label>
                <select asp-for="SexId" class ="form-control" asp-items="ViewBag.SexId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
